header .conteudo {
  width: 100%;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px 0px;
}
header .conteudo .logo {
  width: 155px;
}
header .conteudo .menu-lateral {
  width: calc(100% - 245px);
  display: inline-flex;
  justify-content: flex-end;
}
header .conteudo .menu-lateral .nav {
  display: inline-flex;
  justify-content: flex-end;
}
header .conteudo .menu-lateral .nav li {
  margin-left: 90px;
}
header .conteudo .menu-lateral .redes-sociais {
  width: max-content;
  margin-left: 80px;
  display: inline-flex;
  justify-content: flex-end;
}
