.quem-sou-eu {
  width: 100%;
  display: block;
  background-image: url(../../images/fundo-banner.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.quem-sou-eu .conteudo {
  width: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.quem-sou-eu .conteudo .img {
  width: 100%;
}
.quem-sou-eu .conteudo .img img {
  width: auto;
  max-width: 100%;
  display: block;
  margin: 0 auto;
}
.quem-sou-eu .conteudo .texto {
  width: 100%;
  margin-top: -50px;
  margin-bottom: 50px;
}
.quem-sou-eu .conteudo .texto h2 {
  font-size: 48px;
  font-weight: 500;
  font-style: italic;
  margin-bottom: 65px;
  position: relative;
}
.quem-sou-eu .conteudo .texto h2:after {
  width: 150px;
  height: 5px;
  background-color: #fff;
  position: absolute;
  bottom: -10px;
  left: 0;
  content: " ";
}
.quem-sou-eu .conteudo .texto .descricao {
  margin-bottom: 60px;
  width: 100%;
  display: block;
}
.quem-sou-eu .conteudo .texto .descricao p {
  line-height: 26px;
  margin-bottom: 30px;
  width: 100%;
  display: block;
}
@media only screen and (min-width: 1024px) {
  .quem-sou-eu .conteudo .img {
    width: 54%;
  }
  .quem-sou-eu .conteudo .texto {
    width: 45%;
    margin: 0px 0px 0px -60px;
  }
}
